
@{
    Layout = "_Layout";
    ViewData["Title"] = "Display Student";
}

<div>
    <span>First Name:</span>
    <p>@Model.FirstName</p>
    <span>Last Name:</span>
    <p>@Model.LastName</p>
    <span>Student ID:</span>
    <p>@Model.StudentId</p>
    <span>Email Address:</span>
    <p>@Model.EmailAddress</p>
    <span>Student Description:</span>
    <p>@Model.StudentDescription</p>
</div>
