
@{
    Layout = "_Layout";
    ViewData["Title"] = "Display Student";
}

<div>
    <h2>Your favourite student</h2>
    <p><span><strong>First Name:</strong></span>@Model.FirstName</p>
    <p><span><strong>Last Name:</strong></span>@Model.LastName</p>
    <p><span><strong>Student ID:</strong></span>@Model.StudentId</p>
    <p><span><strong>Email Address:</strong></span>@Model.EmailAddress</p>
    <p><span><strong>Student Description:</strong></span>@Model.StudentDescription</p>
</div>
